html, body {
  background: url("images/blue_shades_background.jpg");
  background-size: cover;
  font: 16px normal Helvetica Arial, Helvetica, sans-serif;
  color: rgba(255, 255, 255, 0.911);
  box-sizing: border-box;
}

header {
  text-align: center;
  margin-bottom: 0;
}

#website-name {
  font-size: 4em;
}

#search-field-section {
  text-align: center;
}

#search-field {
  font-size: 1em;
  color: rgb(0, 25, 78);
  width: 50%;
  height: 100%;
  padding: 10px 30px;
  border-radius: 10px;
  margin-bottom: 15px;
}

input:focus, textarea:focus, select:focus {
  outline: none;
}

::-webkit-input-placeholder {
  text-align: center;
}

:-moz-placeholder { 
  text-align: center;  
}

::-moz-placeholder {  
  text-align: center;  
}

:-ms-input-placeholder {  
  text-align: center; 
}

.container {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  row-gap: 2.5em;
  align-items: center;
  margin: 0 auto;
  opacity: .8;
  text-align: center;
}

@media only screen and (min-width: 500px) {
  #search-field {
      font-size: 1.75em;
  }
}

@media screen and (min-width: 900px) {
  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 3em;
  }
}

.card {
  display: flex;
  flex-direction: column;
  height: 300px;
  margin: 20px;
  transition: transform 1s ease-in-out 0s;
  transform-style: preserve-3d;
  box-shadow: 5px 5px 5px rgb(82, 80, 80);
}

.card-front, .card-back {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card-front {
  height: 300px;
  display: flex;
  justify-content: center;
}

.card-back {
  transform: rotateY(.5turn);
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  overflow: auto;
  padding: 8px;
}

.logo-card-front {
  display: block;
  width: 50%;
  height: auto;
  box-shadow: 12px 5px 5px rgb(82, 80, 80);
  margin: auto;
}

.logo-card-back {
  display: block;
  width: 30%;
  height: auto;
  box-shadow: 8px 5px 5px rgb(82, 80, 80);
  margin: 0 auto;
}

.read-summary-link-text, .read-article-link-text {
  font-size: 1.5em;
  text-decoration: none;
 }
 
 a {
   color: rgba(255, 255, 255, 0.911);
 }
 
 .article-title, .no-content-message {
   font-size: 1.5em;
 }
 

.flip {
  transform: rotateY(180deg);  
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
  position: absolute;
  color: rgb(0, 0, 0);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(255, 255, 255);
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
}

.close-button {
  float: right;
  width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  background-color: rgb(211, 211, 211);
}

.close-button:hover {
  background-color: rgb(169, 169, 169);
}

.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1.0);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.summary-text {
  font-size: 1.5em;
  line-height: 1.8em;
}

.logo-card-summary {
  display: block;
  width: 12%;
  height: auto;
  box-shadow: 8px 5px 5px rgb(82, 80, 80);
  margin: 0 auto;
}