html, body {
  background: url("images/blue_shades_background.jpg");
  background-size: cover;
  font: 16px normal Helvetica Arial, Helvetica, sans-serif;
  color: rgba(255, 255, 255, 0.911);
  box-sizing: border-box;
}

/* * {
  font-family: Helvetica;
  font-size: 1.1em;
  color: white;
  box-sizing: border-box;
} */

header {
  text-align: center;
  margin-bottom: 0;
}

#search-field-section {
  /* outline: 3px solid white; */
}

#search-field {
  font-size: 1.75em;
  color: rgb(0, 25, 78);
  width: 50%;
  height: 100%;
  padding: 10px 15px;
  border-radius: 10px;
  margin-bottom: 15px;
}

.container {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  row-gap: 2.5em;
  align-items: center;
  margin: 0 auto;
  opacity: .8;
  text-align: center;
}

@media screen and (min-width: 900px) {
  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 3em;
  }
}

input:focus, textarea:focus, select:focus {
  outline: none;
}

.logo-card-front {
  /* outline: 3px solid green; */
  display: block;
  width: 50%;
  height: auto;
  box-shadow: 12px 5px 5px rgb(82, 80, 80);
  margin: auto;
}

.logo-card-back {
  display: block;
  width: 30%;
  height: auto;
  box-shadow: 8px 5px 5px rgb(82, 80, 80);
  margin: 0 auto;
}


#search-field-section {
  text-align: center;
}

.card {
  display: flex;
  flex-direction: column;
  /* align-items: flex-end; */
  /* outline: 3px solid green; */
  /* width: 300px;
  height: 300px; */
  /* perspective: 1000px; */
  /* background-color: rgb(226, 211, 211); */
  height: 300px;
  margin: 20px;
  /* transition: transform 0.6s; */
  transition: transform 1s ease-in-out 0s;
  transform-style: preserve-3d;
  /* backface-visibility: hidden; */
  /* position: relative; */
  box-shadow: 5px 5px 5px rgb(82, 80, 80);
  
}

.flip {
  transform: rotateY(180deg);  
}

.card-front, .card-back {
  backface-visibility: hidden;
}

/* .card:hover {
  transform: rotateY(180deg); 
} */

.card-front {
  /* outline: 3px solid red; */
  height: 300px;
  display: flex;
  justify-content: center;
  /* text-align: center; */
}

.card-back {
  transform: rotateY(.5turn);
  /* outline: 3px solid yellow; */
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  overflow: auto;
  padding: 8px;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

.read-summary-link, .read-article-link {
 font-size: 1.5em;
 text-decoration: none;
}

a {
  color: rgba(255, 255, 255, 0.911);
}

.article-title {
  font-size: 1.5em;
}

#website-name {
  font-size: 3em;
}

